body {
	background: url("https://designwoop.com/uploads/2012/03/20_free_subtle_textures_floral_patterns.jpg") repeat 0 0;
}

img#dylan {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	height: 150px;
	width: 140px;
}

.info {
	font-size: 64px;
	font-family: "Noto Serif", sans-serif;
	text-align: center;
}

h2.info {
	font-size: 48px;
}

iframe {
	width: 800px;
	height: 1100px;
	margin-top: 20px;
	border: 0;
	
}

div#cen {
	text-align: center;
}

p {
	font-size: 30px;
	padding-left: 50px;
	padding-top: 10px;
}

p#center {
	font-size: 30px;
	padding-left: 0px;
	text-align: center;
}
